@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("/fonts/open-sans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("/fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url("/fonts/open-sans/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Open Sans Extra Bold";
    src: url("/fonts/open-sans/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Open Sans Extra Bold Italic";
    src: url("/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("/fonts/open-sans/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans Light Italic";
    src: url("/fonts/open-sans/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: "Open Sans SemiBold Italic";
    src: url("/fonts/open-sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Agfolan;
    src: url("/fonts/Agfolan.ttf");
}

@font-face {
    font-family: "Fresh-Milk";
    src: url("/fonts/Fresh-Milk.ttf");
}

@font-face {
    font-family: "Simple Something";
    src: url("/fonts/Simple-Something.ttf");
}

@font-face {
    font-family: "Fligen";
    src: url("/fonts/Fligen-Regular.otf");
}

@font-face {
    font-family: "Giliams";
    src: url("/fonts/Giliams-Regular.otf");
}
